@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/gilroy/Gilroy-Light.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/gilroy/Gilroy-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/fonts/gilroy/Gilroy-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    background: #111111 !important;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

#fp-nav.fp-right {
   right: 0 !important;
}

@media screen and (max-width: 48rem) {
    #fp-nav.fp-right {
        display: none;
    }
}
